@import url("https://fonts.googleapis.com/css2?family=Arya:wght@400;700&display=swap");
@import url('nav.css');
@import url("footer.css");
p,h1{
  font-family: "Arya", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
    background-image: url('Short\ bg.png');
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 100% auto;
    overflow-x: hidden;
    margin: 0;
  }
html{
    margin: 0;
}
#topSection{
  height: 11vw;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}
#topLogo{
  height: 6vw;
  margin-top: 4vw;
}
#aboutUsText{
  text-align: center;
  line-height: 10vw;
  letter-spacing: 2vw;
  margin-top: 4vw;
}
#imageSection{
    position: relative;
    height: 50vw;
    width: 100%;
    overflow: hidden;
    background-color: #1A3869;
    opacity: 0.6;
}
#aboutUsImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}
#mainTitleSection{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    padding: 1vw;
    letter-spacing: 2vw;
    opacity: 0.7;
}
#name{
    margin: 0;
    text-align: center;
    color: white;
    font-size: 5vw;
}