@import url("https://fonts.googleapis.com/css2?family=Arya:wght@400;700&display=swap");
@import url('nav.css');
@import url("footer.css");
p,h1,summary{
  font-family: "Arya", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
    background-image: url('long-bg.png');
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 100% auto;
    overflow-x: hidden;
    margin: 0;
  }
html{
    margin: 0;
}
#topSection{
  height: 11vw;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}
#topLogo{
  height: 6vw;
  margin-top: 4vw;
}
#aboutUsText{
  text-align: center;
  line-height: 10vw;
  letter-spacing: 2vw;
  margin-top: 4vw;
}
#imageSection{
    position: relative;
    height: 50vw;
    width: 100%;
    overflow: hidden;
}
#aboutUsImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    z-index: 9999;
}
#mainTitleSection{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    letter-spacing: 2vw;
    opacity: 0.7;
}
#name{
    margin: 0;
    text-align: center;
    color:#fbfbfb;
    font-size: 5vw;
}

#whereFromSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40vw;
    gap: 1vw;
}
#whereFromImgSection{
    margin-right: 7vw;
    width: 30vw;
    height: 30vw;
}
#whereFromImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: solid, 0.2vw;
    border-color: #FEB84E;
    
}
#whereFromTextSection{
    margin-left: 4vw;
    width: 50vw;
    height: 20vw;
    margin-bottom: 12vw;
}
#whereFromTextBox{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 2vw;
    padding: 2%;
}
#whereFromTitle{
    margin-left: 1vw;
    color: #222958;
    font-size: 3vw;
    font-weight: 1000;
    letter-spacing: 0.5vw;
}
#whereFromText{
    margin-right: 8vw;
    color: #222958;
    font-size: 1vw;
}

#otherSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    gap: 5vw;
}
#otherImgSection{
    margin-left: 7vw;
    margin-bottom: 2vw;
    width: 30vw;
    height: 25vw;
}
#otherImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: solid, 0.2vw;
    border-color: #FEB84E;
}
#otherTextSection{
    margin-right: 4vw;
    margin-bottom: 1.5vw;
    width: 50vw;
    height: 25vw;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 2.5vw;
}
#otherTitle{
    margin-left: 13vw;
    color: #222958;
    font-size: 3vw;
    font-weight: 1000;
    margin-bottom: 0;
    letter-spacing: 0.5vw;
}
#otherText{
    margin-left: 1vw;
    color:#1A3869;
    font-size: 1vw;
}

#faqSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50vw;
    gap: 1vw;
}
#faqImgSection{
    margin-right: 5vw;
    width: 35vw;
    height: 35vw;
    margin-top: 3vw;
    margin-bottom: 4vw;
}
#faqImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: solid, 0.2vw;
    border-color: #FEB84E;
}
#faqTextSection{
    margin-left: 4vw;
    width: 50vw;
    height: 20vw;
    margin-bottom: 12vw;
}
#faqTitleSection{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 2vw;
}
#faqContentSection{
    border-radius: 2vw;
    padding: 2%;
}
.faqItemBox{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 2vw;
    padding: 2%;
    margin-bottom: 1vw;
    height: 8vw;
    height: auto;          
    min-height: 3vw;      
    overflow: hidden;
}
#faqTitle{
    margin-left: 1vw;
    color:#222958;
    font-weight: 1000;
    font-size: 3vw;
    margin-bottom: 0;
    letter-spacing: 0.5vw;
}
.faqItemTitle{
    color: #1A3869;
    font-weight: 1000;
    font-size: 1.5vw;
}
.faqItemText{
    color: #1A3869;
    font-size: 1vw; 
    margin-top: 0;
}

#stillHaveQuestionsSection{
   height: 15vw;
   width: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   text-align: center;
   margin-bottom: 4vw;
}
#questionTitle{
    margin: 0;
    color: white;
    font-size: 3vw;
    letter-spacing: 1vw;
}
.askButton{
    height: 4vw;
    width: 40vw;
    font-size: 2vw;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #222958;
    letter-spacing: 0.5vw;
    border-radius: 1vw;
    border: solid;
}