body {
    background-image: url('homepage1.jpg');
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 100% auto;
    overflow-x: hidden;
    margin: 0;
  }
html{
    margin: 0;
}
#topSection{
    height: 10vw;
    background-color: white;
    margin-bottom: 5%;
}
#directoryText{
    margin: 0;
    text-align: center;
    line-height: 10vw;
    letter-spacing: 1vw;
}
.eventsGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 4vw);
    width: 70%;
    row-gap: 25vw;
    column-gap: 5vw;
    height: 80vw;
    margin:auto;
    margin-right: 5%;
}
.event{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 25vw;
  border-radius: 10%;
  opacity: 0.7;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
#mainContent{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50vw;
    gap: 5vw;
}
.options{
    margin-left: 8vw;
    margin-bottom: 4vw;
}
.selectionButton{
    background-color: transparent;
    border: transparent;
    color: rgb(0, 0, 0);
    letter-spacing: 0.3vw;
    font-size: 1.5vw;
}
.selectionButton:hover{
    text-shadow: 0 0 1vw #2B85A7;
}
#footerSection{
    height: 15vw;
    background-color: white;
    margin-top: 15vw; /*I NO LIKE THIS CHNAGE SO STICKS TO BOTTOM ON ANY PAGE THIS JUST TEMPORARY*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:5vw;
}
#logoSection{
    margin: 0;
    width: 30%;
    height: 100%;
}
#footerLogo{
    margin-left: 5vw;
    margin-top: 2vw;
    height: 10vw;
    width:15vw;
}
#contactUsSection{
    margin: 0;
    width: 30%;
    height: 100%;
}
#socialsSection{
    margin: 0;
    width: 15%;
    height: 85%;
    position: relative;
    margin: auto;
}
.footerText{
    margin-left: 5vw;
}
.social{
    height: 5vw;
    width: 5vw;
    background-color: #FEB84E;
    border-radius: 100%;
    position: absolute;
}
.top {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.left {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.right {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.bottom {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
