body {
    background-image: url('homepage1.jpg');
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 100% auto;
    overflow-x: hidden;
    margin: 0;
  }
html{
    margin: 0;
}
#topSection{
    height: 10vw;
    background-color: white;
    margin-bottom: 5%;
}
#directoryText{
    margin: 0;
    text-align: center;
    line-height: 10vw;
}
.eventsGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 4vw);
    width: 70%;
    row-gap: 25vw;
    column-gap: 5vw;
    height: 80vw;
    margin:auto;
    margin-right: 5%;
}
.event{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 25vw;
  border-radius: 10%;
}
#mainContent{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50vw;
    gap: 5vw;
}
.options{
    margin-left: 8vw;
    margin-bottom: 4vw;
}
.selectionButton{
    background-color: transparent;
    border: transparent;
    color: rgb(0, 0, 0);
    letter-spacing: 0.3vw;
    font-size: 1.5vw;
}
.selectionButton:hover{
    text-decoration: underline;
    text-shadow: 0 0 1vw #2B85A7;
}
