@import url("https://fonts.googleapis.com/css2?family=Arya:wght@400;700&display=swap");
/*nav bar styling start*/
nav{
    background-color: white;
    padding-top: 1vw;
}
#navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4vw;
    background-color: white;
    border-radius: 10vw;
    width: 80%;
    opacity: 1;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 9999;
}
.iconImg{
    width: 1.5vw;
    height: 1.5vw;
    transition: transform 0.3s ease;
}
.icon:hover .iconImg{
    transform: translateX(-3vw);
}
.icon:hover .line{
    transform: translateX(-3vw);
    opacity: 1;
}
.icon:hover .label{
    opacity: 1;
}
.icon{
    position: relative;
    width: 10%;
    width: 1vw;
    height: 1vw;
    padding: 1vw;
}
#home, #homeLabel{
    padding-left: 10vw;
}
#sources, #sourcesLabel{
    padding-right: 10vw;
}
.line{
    width: 1.5vw;
    height: 0.2vw;
    background-color: #FEB84E;
    align-items: center;
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 1.2vw;
    opacity: 0;
    transition: opacity 0.3s ease;
    width: 7vw;
    color: black;
    vertical-align: center;
    margin-top: 0.8vw;
}
/*nav bar styling bottom*/

p,h1,h3,h2,:placeholder-shown,select,button,input, textarea{
 font-family: "Arya", sans-serif;
 font-weight: 400;
 font-style: normal;
}
body {
   background-image: url('Short\ bg.png');
   background-attachment: scroll;
   background-repeat: no-repeat;
   background-size: 100% auto;
   overflow-x: hidden;
   margin: 0;
 }
html{
   margin: 0;
}
#topSection{
 height: 11vw;
 background-color: white;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 2vw;
}
#topLogo{
   height: 6vw;
   margin-top: 4vw;
 }
#feedbackText{
   margin: 0;
   text-align: center;
   line-height: 10vw;
   letter-spacing: 2vw;
   margin-top: 4vw;
}
.formBox{
   align-items: center;
   justify-content: center;
   display: flex;
   flex-direction: column;
   margin-top: 1vw;
}
.title{
   font-size: 2vw;
   text-align: left;
   color:#222958;
}
.title h2 {
   margin-bottom: 0.3vw;
}
.title p {
   margin-top: 0;
}
.feedbackForm{
   align-items: center;
   justify-content: center;
   display: flex;
   flex-direction: column;
   gap: 1vw;
   height: 40vw;
   border-radius: 5vw;
   width: 60vw;
   border-style: solid;
   border-color: #222958;
   border-width: 0.25vw;
   background-color: rgba(255, 255, 255, 0.5);
}
#selectSection{
   height: 3vw;
   width: 50vw;
   border-radius: 1vw;
   align-items: center;
   justify-content: center;
   display: flex;
   flex-direction: column;
   border-style: solid;
   border-color: #222958;
   border-width: 0.15vw;
   background-color: rgba(255, 255, 255, 0);
   font-size: 1vw;
   color: #222958;
}
.IDinput{
   display: flex;
   flex-direction: column;
   height: 3vw;
   width: 50vw;
   border-radius: 1vw;
   border-style: solid;
   border-color: #222958;
   border-width: 0.15vw;
   background-color: rgba(255, 255, 255, 0);
   font-size: 1vw;
   color: #222958;
}
.mainFeedbackInput{
   display: flex;
   flex-direction: column;
   height: 20vw;
   width: 50vw;
   border-radius: 1vw;
   resize: none;
   border-style: solid;
   border-color: #222958;
   border-width: 0.15vw;
   background-color: rgba(255, 255, 255, 0);
   font-size: 1vw;
   color: #222958;
}
.submitButton{
   height: 3vw;
   width: 9vw;
   font-size: 2vw;
   color: #FFAA4C;
   align-items: center;
   justify-content: center;
   display: flex;
   flex-direction: column;
   border-radius: 0.7vw;
   background-color: #222958;
   box-shadow: inset 0 0 0 0.12vw #FFAA4C;
}
.spacerSection{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.spacer{
   width: 70vw;
   height: auto;
   display: block;
}
.whatsNext{
   height: 10vw;
   width: 40vw;
   background-color: rgba(255, 255, 255, 0.7);
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   text-align: center;
   border-radius: 1vw;
   margin: auto;
   margin-top: 2vw;
   margin-bottom: 4vw;
   gap: 0.1vw;
} 
.whatsNextTitle {
   margin: 0;       
   font-size: 2.5vw;
}
.whatsNextText {
   margin: 0;       
   font-size: 1.2vw;
}