@import url("https://fonts.googleapis.com/css2?family=Arya:wght@400;700&display=swap");
@import url("nav.css");
@import url("footer.css");
@import url("chat.css");
body {
  background-image: url('long-bg.png');
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: 100% auto;
  overflow-x: hidden;
  margin: 0;
  font-family: Tahoma, Verdana, sans-serif;
}
h1,h2,h3,p{
    font-family: "Arya", sans-serif;
    font-weight: 400;
    font-style: normal;
}
html{
    margin: 0;
}
body, html{
    overflow-x: hidden;
}
#topSection{
    height: 11vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}
#welcomeText{
    margin-top: 4vw;
    text-align: center;
    line-height: 10vw;
    letter-spacing: 3vw;
    font-size: 2.1vw;
}
#topLogo{
    height: 6vw;
    margin-top: 4vw;
}
#videoSection{
    position: relative;
    height: 50vw;
    width: 100%;
    overflow: hidden;
    background-color: #1A3869;
    opacity: 0.8;
}
#aboutUsVideo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}
#mainTitleSection{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    padding: 1vw;
    letter-spacing: 2vw;
    opacity: 1;
}
#name, #slogan{
    margin: 0;
    text-align: center;
    color: white;
    z-index: 1000000000;
    font-size: 3vw;
    opacity: 1;
    font-weight: 800;
}
#slogan{
    font-size: 2vw;
    font-weight: 400;
}
#aboutUsSection{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50vw;
    gap: 0vw;
}
#aboutUsImgSection{
    margin: auto;
    width: 40vw;
    height: 40vw;
    background-color: #1A3869;
    border-radius: 50%;
}
#aboutUsImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: solid, 0.2vw;
    border-color: #FEB84E;
    opacity: 1;
}
#aboutUsTextSection{
    margin: 0;
    width: 50%;
    height: 80%;
}
#aboutUsTitle, #aboutUsText{
    margin-left: 4vw;
    color:white;
}
#aboutUsTitle{
    font-size: 3vw;
    letter-spacing: 3vw;
}
#aboutUsText{
    font-size: 1.5vw;
}
.spacerSection{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
 }
 .spacer{
    width: 70vw;
    height: auto;
    display: block;
 }
 #spacer2{
    margin-top: 8vw;
 }
 #highlightSection{
    position: relative;
    width: 100%;
    height: 40vw;
    margin: 5vw 0;
 }
 #highlightTitle{
    text-align: center;
    color: white;
    letter-spacing: 2vw;
    margin-bottom: 2vw;
    font-size: 3vw;
 }
 ul{
    position: relative;   
    width: 100%;
    height: 40vw;
    margin: 0 auto;
    padding: 0;
    display: block;
 }
 .diamond{
    list-style: none;
    position: absolute;
    width: 20vw;
    height: 20vw;
    transform: rotate(45deg);
    overflow: hidden;
    margin-top: 5vw;
    background-image: linear-gradient(to right, #38708F, #04567D, #233A69);
    transition: transform 0.3s ease, opacity 0.3s ease;
    border-radius: 2vw;
}
#diamond1{
    top: 0;
    left:-10%;
}
#diamond2{
    bottom: 0;
    left:5%;
}
#diamond3{
    top: 0;
    left:20%;
}
#diamond4{
    bottom: 0;
    left:35%;
}
#diamond5{
    top: 0;
    left:50%;
}
#diamond6{
    bottom: 0;
    left:65%;
}
#diamond7{
    top: 0;
    left:80%;
}
#diamond8{
    bottom: 0;
    left:95%;
}
.img {
    position: absolute;
    top: -20%;
    left: -20%;
    width: 140%;
    height: 140%;
    background-size: cover;
    background-position: center;
    transform: rotate(-45deg);
    opacity: 0.9;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
#img1{
    background-image: url('couseling.png');
}
#img2{
    background-image: url('movieNight.png');
}
#img3{
    background-image: url('meditation.png');
}
#img4{
    background-image: url('tennis.jpg');
}
#img5{
    background-image: url('family.png');
}
#img6{
    background-image: url('brunchClub.png');
}
#img7{
    background-image: url('golf.png');
}
#img8{
    background-image: url('hikingTrail.png');
}
.animated:hover {
    transform: scale(1.3) rotate(90deg);
    transition: transform 0.3s ease;
    z-index: 10;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}
.animated:hover .img{
    opacity: 0;
    transition: opacity 0.3s ease;
}
 .animated:hover .title, .animated:hover .info{
    opacity: 1;
    transition: opacity 0.3s ease;
 }
.title, .info{
    margin: 0;
    text-align: center;
    color: white;
    opacity: 0;
}
.text{
    height: 19vw;
    width: 19vw;
    transform: rotate(-90deg);
}
#title7,#info7{
    margin-right: 1vw;
}
.title{
    font-size: 2.5vw;    
    line-height: 3vw;
}
h1{
    font-size: 2vw;
}
h2{
    font-size: 2vw;

}
p{
    font-size: 1.2vw;
    padding-right: 2vw;
    letter-spacing: 0.1vw;
}
#joinSection{
    height: 30vw;
    margin:0;
}
#joinTitle{
    text-align: center;
    color: white;
    letter-spacing: 3vw;
}
#joinTextSection{
    margin: 0;
    color:white;
    text-align: center;
    padding: 0 2vw;
    height: 10vw;
}
#learnMoreButton{
    display: block;
    margin: 4vw auto;
    padding: 1vw 2vw;
    font-size: 2vw;
    color: white;
    background-color: #04567D;
    border: none;
    border-radius: 1vw;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.3s ease;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

#learnMoreButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: white; /* Wipe color */
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  transition: left 0.5s ease;
  z-index: 0;
}

#learnMoreButton:hover::before {
  left: 0; /* Slide in */
}

#learnMoreButton:hover {
  color: black;          /* Changes text color when white background slides in */
  transform: scale(1.05);
}

#learnMoreButton:active {
  transform: scale(0.95);
}

#learnMoreButton span {
  position: relative;
  z-index: 2;
}
#learnMoreButton:hover span::after {
  content: " >";
  position: relative;
}
@media (max-width: 768px) {
    body{
        background-image: url('longerBG.png');
    }
    #topSection{
        height: 15vw;
    }
    #welcomeText{
        font-size: 3vw;
        letter-spacing: 3vw;
        margin-top: 6vw;
    }
    #topLogo{
        height: 7vw;
    }
    #videoSection{
        height: 70vw;
    }
    #aboutUsSection{
        height: 80vw;
    }
    #aboutUsImgSection{
        width: 50vw;
        height: 50vw;
        top:50%;
        bottom:50%;
        margin:auto;
    }
    #aboutUsTitle{
        font-size: 4vw;
    }
    #aboutUsText{
        font-size: 2vw;
    }
    #joinTitle{
        font-size: 3vw;
        letter-spacing: 4vw;
        text-align: center;
        margin-right: -4vw;
    }
    #joinTextSection{
        height: 30vw;
    }
    #joinText{
        font-size: 2vw;
    }
    #joinSection{
        height: 50vw;
    }
    #learnMoreButton{
        margin: 0 auto;
    }
}

