@import url("https://fonts.googleapis.com/css2?family=Arya:wght@400;700&display=swap");
@import url("nav.css");
@import url("footer.css");
body {
  background-image: url('Short\ bg.png');
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: 100% auto;
  overflow-x: hidden;
  margin: 0;
  font-family: Tahoma, Verdana, sans-serif;
}
h1,h2,h3,p, li, a{
    font-family: "Arya", sans-serif;
    font-weight: 400;
    font-style: normal;
}
html{
    margin: 0;
}
body, html{
    overflow-x: hidden;
}
#topSection{
    height: 11vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}
#sourcesText{
    margin-top: 4vw;
    text-align: center;
    line-height: 10vw;
    letter-spacing: 3vw;
}
#topLogo{
    height: 6vw;
    margin-top: 4vw;
}
#mainContent{
    width: 60%;
    margin: auto;
    margin-top: 3vw;
    margin-bottom: 5vw;
    background-color: white;
    height: auto;
    padding-top: 2vw;
    padding-bottom: 2vw;
    opacity: 0.8;
    border-radius: 2vw;
}
.text{
    text-align: center;
}
ul{
    list-style-type: none;
    padding-left: 2vw;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}